body {
    font-size: 2em;
    font-family: "Courier New", monospace;
    white-space: pre; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
    margin-left: .5em;
}
.prose {
    white-space: normal;
}
@-moz-document url-prefix() {
    html{
        scrollbar-width: none;
    }
}
body::-webkit-scrollbar {
    display: none;
}


/* page navigation */
div.south {
    position:fixed;
    left: 13%;
    bottom: 0;
    height: 5%;
    width: 74%;
}

div.sxsouthwest {
    position:fixed;
    left:3%;
    bottom:0;
    height:5%;
    width:10%;
}

div.southwest {
    position:fixed;
    left:0;
    bottom:0;
    height:5%;
    width:3%;
}

div.wxsouthwest {
    position:fixed;
    left:0;
    bottom:5%;
    height:10%;
    width:3%;
}

div.west {
    position:fixed;
    left:0;
    bottom:15%;
    height:70%;
    width:3%;
}

div.wxnorthwest {
    position:fixed;
    left:0;
    top:5%;
    height:10%;
    width:3%;
}

div.northwest {
    position:fixed;
    left:0;
    top:0;
    height:5%;
    width:3%;
}

div.nxnorthwest {
    position:fixed;
    left:3%;
    top:0;
    height:5%;
    width:10%;
}

div.north {
    position:fixed;
    left: 13%;
    top: 0;
    height: 5%;
    width: 74%;
}

div.nxnortheast {
    position:fixed;
    right:3%;
    top:0;
    height:5%;
    width:10%;
}

div.northeast {
    position:fixed;
    right:0;
    top:0;
    height:5%;
    width:3%;
}

div.exnortheast {
    position:fixed;
    right:0;
    top:5%;
    height:10%;
    width:3%;
}

div.east {
    position:fixed;
    right:0;
    bottom:15%;
    height:70%;
    width:3%;
}

div.exsoutheast {
    position:fixed;
    right:0;
    bottom:5%;
    height:10%;
    width:3%;
}

div.southeast {
    position:fixed;
    right:0;
    bottom:0;
    height:5%;
    width:3%;
}

div.sxsoutheast {
    position:fixed;
    right:3%;
    bottom:0;
    height:5%;
    width:10%;
}

.small {
    font-variant: small-caps;
}

::selection {
    color: white;
    background: black;
}

::-moz-selection {
    color: white;
    background: black;
}

/* palimpsest */
.palimp-bottom { 
    position:absolute; 
    opacity:.2; 
    z-index:1; 
}
.palimp-top { 
    z-index:2; 
}


/* draggable text style */
.drag {
    position: absolute; 
    display: inline;
} 

/* click expansion */
div.exp {
    display: inline;
}
input[type=checkbox] {
    display: none;
}
.click-expand {
    display: none;
}
.click-expandable:checked ~ .click-expand {
    display: inline;
}
/* Not just click expand: make general click and hover changes */


/* hover expansion */
.hover-expand {display: none;}
.hover-expandable:hover + .hover-expand {display: inline;}

/* links disguised as plain text */
a.hidden {
/*    color: black;
    text-decoration: none; */
    cursor: text;
}

/* white text */
span.white {
    color: white;
}

[contenteditable] {outline: 0px solid transparent;}

/* prose */
